    <% if @cart_product.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <ul>
                <% @cart_product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <h1>商品を購入しますか？</h1>
    <section class="product-box">
   
    <% @cart_products.each do |cart| %>
    <section class="left">
        <span class="product">

            <span class="image">
                <%= attachment_image_tag cart.product, :image, fallback:"/images/no_image.png", size:"50x50" %>
            </span>
            <span class="text">
                <p class="song"><%= cart.product.productname %></p>
                <p class="artist"><%= cart.product.artist.artistname %></p>
                <p class="price">¥<%= cart.product.price %></p>
                <p class="price"><%= cart.purchase_number %>枚</p>
                <p class="delete"><%= link_to "カートから削除", product_cart_product_path(cart.product_id, cart.id), method: :delete, data:{confirm: "カートからこの商品を削除しますか？"}%></p>
            </span>
        </span>
    </section>
  
    <% end %>
    </section>
<%# カート内商品があるかどうかで分岐 %>
    <% if @cart_products.blank?  %>
        <p class="no_buy"><%= link_to "カートに商品を追加してください",products_path %></p>
        <% else %>

    <div class="cart_product">
        <%= link_to "注文する", cart_product_orders_path(@cart_products),method: :post, class:"buy1" %>
    </div>

        <p class="back_product"><%= link_to "商品一覧に戻る",products_path %></p>
        <% end %>


<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    h1{
        text-align:center;
    }

    .product-box{
        margin-top:40px;
        overflow: hidden;
        position:rerative;
        zoom:1;
    }

    .left{
        width:50%;
        float:left;
        border-right:2px solid #222;
        display:flex;
    }

    .product{
        width:80%;
        height:190px;
        display:inline-block;
        margin-left:20%;
        justify-content: space-around;
        text-align:justify;
        clear:both;
    }

    .image{
        height:160px;
        width:160px;
        margin-top:2%;
        display:inline-block;
    }

    .text{
        float:right;
        width:60%;
    }

    .song{
        font-size:25px;
        text-align:center;
        white-space: pre;
    }

    .artist{
        font-size:18px;
        text-align:center;
    }

    .status{
        font-size:16px;
        text-align:center;
    }

    .price{
        font-size:20px;
        margin-top:10px;
        text-align:center;
    }

    .delete{
        width:43%;
        margin:0 auto;
        text-align:center;
        padding: 0.5em 1em;
        background:#ee9999;
        border-radius:10px;
    }

    .delete>a{
        color:#fff;
    }

    .buy{
        margin:40px auto;
        text-align:center;
        width:20%;
        padding: 0.5em 1em;
        background: skyblue;
        border-radius:10px;
    }

    .buy1{
        border:none;
        color:#fff;
        background:skyblue;
        font-size:17px;
    }

    .buy>a{
        color:#fff;
    }
    .no_buy{
        margin:40px auto;
        text-align:center;
        width:25%;
        padding: 0.5em 1em;
        background: red;
        border-radius:20px;
    }
    .no_buy>a {
        color:#fff;
    }

    .back_product{
        margin:40px auto;
        text-align:center;
        width:20%;
        padding: 0.5em 1em;
        background: purple;
        border-radius:10px;
    }
    .back_product>a{
        color:#fff;
    }
    .cart_product{
        margin:40px auto;
        text-align:center;
        width:20%;
        padding: 0.5em 1em;
        background: skyblue;
        border-radius:10px;
    }
    .cart_product>a{
        color:#fff;
    }
    .select_address {
       text-align: center;
    }

</style>
