<div class= "user_information">
    <h2>ユーザー情報</h2>
    <div class="user_name">ユーザー名：<%= @user.name %><%= @user.lastname %></div><br>
    <div class="user_name">カタカナ：<%= @user.name_kana %><%= @user.lastname_kana %></div><br>

    <div class="user_email">E-mail：<%= @user.email %></div><br>
    <div class="user_email">電話番号：<%= @user.tellnumber %></div><br>

    <% @user.addresses.each_with_index do |address, i| %>
        <h3>住所<%= i + 1 %></h3>
        <div>郵便番号：<%= address.address_number %></div>
        <div>都道府県：<%= address.prefecture %></div>
        <div>市区町村：<%= address.municipality %></div>
        <div>建物：<%= address.building %></div>
        <%= link_to '住所を編集', edit_user_address_path(current_user.id, address.id) %>
        <%= link_to '住所を削除', user_address_path(current_user.id, address.id) , method: :delete, data: {confirm: 'この住所を削除しますか？'} %><br>
    <% end %><br>

    <%= link_to "ユーザー情報の変更", edit_user_path(@user), class:"btn btn-success" %><br><br>

    <% if current_user.admin? %>
        <%= link_to "ユーザーの削除",user_path(@user),method: :delete, class:"btn btn-danger",data: {confirm: "ユーザーを削除しますか？"}  %>
    <% else %>
        <%= link_to "退会",user_path(@user),method: :delete, class:"btn btn-danger",data: {confirm: "退会しますか？"} %>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <%= link_to "log out",destroy_user_session_path,class:"btn btn-primary", data: {confirm: "ログアウトしますか？"}, method: :delete %>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <%= link_to "購入履歴",user_order_histories_path(current_user.id),class:"btn btn-danger" %>
    <% end %>
</div>
<div class="border"></div>
<style>

.user_information {
    text-align: center;
    margin: 40px auto 0 auto;
}

.user_name {
    display: inline-block;
    margin-top: 10px;
    font-size: 27px;
}
.user_email {
    display: inline-block;
    margin: 10px;
    font-size: 25px;
}
.btn btn-danger {
    margin-right:20px;
}

.border{
    border: solid 2px gray;
    margin:30px auto;
    width: 700px;
}
</style>
