<p class="nested-fields">
	CD:<%= f.text_field :cdname %><br>
	<%= link_to_remove_association 'CDを削除', f %>
		<%= link_to_add_association '曲を追加', f, :songs %>
		<%= f.fields_for :songs do |song| %>
			<%= render 'song_fields', f: song %>
		<% end %>
</p>