<div class= "user_information">
    <h2>ユーザー情報</h2>
    <div class="user_name">ユーザー名：<%= @user.name %><%= @user.lastname %></div><br>
    <div class="user_email">E-mail：　<%= @user.email %></div><br>
    <div class="user_email">電話番号：　<%= @user.tellnumber %></div><br>

    <% @user.addresses.each_with_index do |address, i| %>
        <h3>住所<%= i + 1 %></h3>
        <div>郵便番号：　<%= address.address_number %></div>
        <div>都道府県：　<%= address.prefecture %></div>
        <div>市区町村：　<%= address.municipality %></div>
        <div>建物：　<%= address.building %></div>
    <% end %>


    <% if @user.deleted_at? %>
        退会したユーザーです
    <% else %>
        <%= link_to "ユーザー情報の変更", edit_user_path(@user), class:"btn btn-success" %><br><br>
        <%= link_to "ユーザーの削除",user_path(@user),method: :delete, class:"btn btn-danger",data: {confirm: "ユーザーを削除しますか？"}  %>
    <% end %>
        <%= link_to "購入履歴",user_order_histories_path(@user.id),class:"btn btn-danger" %>


</div>
<div class="border"></div>


<style>

.user_information {
    text-align: center;
    margin: 40px auto 0 auto;
}

.user_name {
    display: inline-block;
    margin-top: 10px;
    font-size: 27px;
}
.user_email {
    display: inline-block;
    margin: 10px;
    font-size: 25px;
}
.btn btn-danger {
    margin-right:20px;
}

.border{
    border: solid 2px gray;
    margin:30px auto;
    width: 700px;
}
</style>
