<!DOCTYPE html>
<html>
  <head>
    <title>Yukibutu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="nav navbar-nav navbar-left">
        <%= link_to image_tag("/images/cd_logo.png", class:"header_icon", :size => '181x66'), products_path %>
        <h4 class="header_greet">こんにちは<%= @header_name %>さん</h4>
      </div>
      
        <nav class="nav navbar-nav navbar-right">
          <ul>
            <% if user_signed_in? %>
                <% if current_user.admin?%>
                  <li><%= link_to 'CD一覧 ', admin_products_path, class: 'glyphicon glyphicon-cd' %></li>
                  <li><%= link_to '商品の追加',new_admin_product_path,class: 'glyphicon glyphicon-leaf' %></li>
                  <li><%= link_to 'ユーザーの一覧',admin_users_path, class:'glyphicon glyphicon-user' %></li>
                  <li><%= link_to '管理者ログアウト',destroy_user_session_path,class: 'glyphicon glyphicon-fire', method: :delete,data: {confirm: "管理者のログアウトをしますか？"} %></li>
                <% else %>
                  <li><%= link_to 'ユーザー ',user_path(current_user.id), class: 'glyphicon glyphicon-user' %></li>
                  <li><%= link_to 'CD一覧 ', products_path, class: 'glyphicon glyphicon-cd' %></li>

                  <li><%= link_to 'カート ', cart_products_path, class: 'glyphicon glyphicon-shopping-cart' %></li>

                  <li><%= link_to "ログアウト", destroy_user_session_path,class: 'glyphicon glyphicon-fire', method: :delete %></li>

                <% end %>

            <% else %>
                  <li><%= link_to 'CD一覧 ', products_path, class: 'glyphicon glyphicon-cd' %></li>
              <li><%= link_to '会員登録 ', new_user_registration_path, class: 'glyphicon glyphicon-bell' %></li>
              <li><%= link_to 'ログイン ',new_user_session_path, class: 'glyphicon glyphicon-check' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header><!-- /header -->
    <%= yield %>
    
  </body>
</html>